main{
    width: 80vw;
}
body{
    margin: 0;
    background: #222;

}
#sheet{
    width: 100vw;
    display: flex;
    flex-direction: row;
}
main header{
    display: flex;
    flex-direction: row;
    width:80vw ;
    height: 21vh;
    color: whitesmoke;
    border-bottom: solid 1px whitesmoke;
}
main header .externalVariablesHedaerContainers{
    width:40vw ;
    height: 21vh;
   
}
main header .externalSatitcVariablesHedaerContainers{
    width:40vw ;
    height: 21vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
main header .externalVariablesHedaerContainers .variableDataHeader{
    display: grid;
    grid-template-columns: 5vw 20vw 2vw 5vw 1vw 5vw 2vw;
    grid-template-rows: 5vh 5vh;
}
main header .externalVariablesHedaerContainers .variableDataHeader .textClass{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0;
    text-align: center;
    
}
main header .externalVariablesHedaerContainers .variableDataHeader .headerProgress{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    accent-color: rgb(77, 204, 77);
    height: 20px;

    
}
main header .externalVariablesHedaerContainers .variableDataHeader .headerLabelMax{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    padding: 2vh;
    
}

main header .externalVariablesHedaerContainers .variableDataHeader .headerLabelCur{
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    padding: 2vh;
    
}

main header .externalVariablesHedaerContainers .variableDataHeader .headerInputMax{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
   appearance:textfield;
   border: none;
   border-radius: 50px;
   width: 5vh;
   text-align: center;
   margin-left: 1vw;
    
}

main header .externalVariablesHedaerContainers .variableDataHeader .headerInputCur{
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    appearance:textfield;
    border-radius: 50px;
    border: none;
    border-radius: 50px;
    width: 5vh;
    text-align: center;
    margin-left: 1vw;
    
}

main header .externalSatitcVariablesHedaerContainers .staticData{
    width: 100%;
    height: 7vh;
    display: grid;
    grid-template-columns:  50% 50%;
    grid-template-rows: 7vh ;
    align-items: center;


}
main header .externalSatitcVariablesHedaerContainers .staticData input {
    justify-self: center;
    align-self: center;
    appearance:textfield;
    border: none;
    border-radius: 50px;
    width: 5vh;
    height: 5vh;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

main header .externalSatitcVariablesHedaerContainers .staticData label {
font-size: x-large;
grid-column-start: 1;
grid-column-end: 1;
grid-row-start: 1;
grid-row-end: 1;
}
section .searchBar{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}
.select{
    height: 3vh;
    margin-left: 1vw;
    background-color: whitesmoke;
    border: none;
    border-radius: 5%;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.search{
    height: 3vh;
    margin-right: 1vw;
    background-color: whitesmoke;
    border:none;
    border-radius: 5%;
    color: black;
    font-family:Arial, Helvetica, sans-serif;

}

.throwsConatiner{
    width: 100%;
    display: flex;
    flex-direction: row;
    

}
.equipment{
    width: 40%;
}
.throws{
    width: 35%;
}
.throwsData{
    width: 25%;
    height: 76vh;
    border: 1px solid whitesmoke;
    position: sticky;
    top: 1vh;
}
.equipment .itemCoantainer{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 5vh 15vh;
}

.equipment .itemCoantainer .itemsImage{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 90%;
   

}
.equipment .itemCoantainer h3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

.equipment .itemCoantainer .itemData1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    color: whitesmoke;

}

.equipment .itemCoantainer .itemData2{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    color: whitesmoke;
}

.throws .throwsContainer{
    width: 100%;
    display: grid;

    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 5vh 5vh;
}
.throws .throwsContainer img{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 9vh;
}
.throws .throwsContainer .throwName{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    color: whitesmoke;
    font-size: x-large;

}
.throws .throwsContainer .throwCost{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
    color: whitesmoke;
}
.throwsContainer:hover, .itemCoantainer:hover{
   background: #122;
}
.throws .throwsContainer .throwLvl{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
    color: whitesmoke;
}
.throws .throwsContainer .throwLvl{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    color: whitesmoke;
}

.selectedImg{
    background: #4ec1ac36;
}