main{
    width: 80vw;
}
body{
    margin: 0;
    background: #222;

}
#sheet{
    width: 100vw;
    display: flex;
    flex-direction: row;
}
main header{
    display: flex;
    flex-direction: row;
    width:80vw ;
    height: 21vh;
    color: whitesmoke;
}
main header .externalVariablesHedaerContainers{
    width:40vw ;
    height: 21vh;
   
}
main header .externalSatitcVariablesHedaerContainers{
    width:40vw ;
    height: 21vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
main header .externalVariablesHedaerContainers .variableDataHeader{
    display: grid;
    grid-template-columns: 5vw 20vw 2vw 5vw 1vw 5vw 2vw;
    grid-template-rows: 5vh 5vh;
}
main header .externalVariablesHedaerContainers .variableDataHeader .textClass{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0;
    text-align: center;
    
}
main header .externalVariablesHedaerContainers .variableDataHeader .headerProgress{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    accent-color: rgb(77, 204, 77);
    height: 20px;

    
}
main header .externalVariablesHedaerContainers .variableDataHeader .headerLabelMax{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    padding: 2vh;
    
}

main header .externalVariablesHedaerContainers .variableDataHeader .headerLabelCur{
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    padding: 2vh;
    
}

main header .externalVariablesHedaerContainers .variableDataHeader .headerInputMax{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
   appearance:textfield;
   border: none;
   border-radius: 50px;
   width: 5vh;
   text-align: center;
   margin-left: 1vw;
    
}

main header .externalVariablesHedaerContainers .variableDataHeader .headerInputCur{
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    appearance:textfield;
    border-radius: 50px;
    border: none;
    border-radius: 50px;
    width: 5vh;
    text-align: center;
    margin-left: 1vw;
    
}

main header .externalSatitcVariablesHedaerContainers .staticData{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
main header .externalSatitcVariablesHedaerContainers .staticData input {
    appearance:textfield;
    border: none;
    border-radius: 50px;
    width: 5vh;
    text-align: center;
}

main header .externalSatitcVariablesHedaerContainers .staticData label {
font-size: x-large;
}