.sideBar{
    display: flex;
    flex-direction: column;
    width: 20vw;
    border-right: 1px solid whitesmoke;
}

.sideBar header{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sideBar header .chrctImg{
    border: 1px solid whitesmoke;
    border-radius: 50%;
    height: 25vh;
    width: 25vh;

}

.sideBar .dataSection{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.sideBar .dataSection .chrctSecondary{
    border: 1px solid whitesmoke;
    background: whitesmoke;
    border-radius: 50%;
    height: 27h;
    width: 7vh;
}
.sideBar .attrSection .atributes {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sideBar .attrSection .atributes h2{
    text-align: center;
    width: 100%;
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    
}
.sideBar .attrSection .atributes div {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}
.sideBar .attrSection .atributes div h1{
    margin: 0;
    height: 75%;
    width: 75%;
    text-align: center;
    text-justify:initial;
    font-size: large;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    
    
}
